/* Navbar */
body {
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
p {
    text-align: center;
}

.topnav {
    background-color: #000000;
    height: fit-content;
    display: flex;
}

li {
    display: inline;
    height: 50px;
    padding-left: 70px;
}
  
li a {
    text-decoration: none;
}
  
.nav-links {
    padding-right: 80px;
    padding-top: 2px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
}
  
.nav-links a {
    color: ivory;
    font-family: "Century Gothic";
    font-weight: bolder;
    font-size: 20px;
}
  
.nav-logo {
    display: inline;
    margin: auto 15px;
    display: block;
    font-family: 'Righteous', sans-serif !important;
    color: ivory;
    font-size: 25px;
}
  
#nav-logo {
    text-align: left;
    font-family: 'Righteous', sans-serif !important;
    color: ivory;

}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.Introducing_header {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.6px;
    color: ivory;
}

.House_Jam_subdesc {
    font-size: 48px !important;
    font-weight: 300 !important;
    color: ivory;
}

.House_Jam_header {
    color: ivory !important;
    font-family: 'Righteous', sans-serif !important;
    /*font-family: var(--font-family-italic) !important;*/
    font-size: calc(100% + 2px) !important;
    /*font-style: italic !important;*/
    font-weight: inherit !important;
}

.full_page_container {
    background-color: black;
}

.dev-prof-img-name {
    color: ivory;
}

   
.dev-prof-img-name {
    font-size: 70px;
}

.about-the-devs {
    
    width: 60%;
    display: flex;
    align-content: center;
    padding-left: 20%;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
}

.dev-container1 {
    background-color: green;
    height: 400px;
}

.dev-container2 {
    background-color: blue;
    height: 400px;
    margin-left: 20px;
}

.dev-prof-img {
    height: 200px;
    float: left;
}

.dev-prof {
    color: ivory;
    margin-left: 5%;
    margin-right: 10%;
    width: 150px;
    float: right;
}

.dev-full-prof {
    height: 400px;
    width: 40%;
    margin-left: 20px;
}